.header {
    width: 100%;
    display: flex;
    justify-content: end;
}

.burger {
    z-index: 1;
    position: absolute;
    right: 5px;
    top: 5px;
}

.mobileMenu {
    position: sticky;
    width: 100vw;
    height: 100vh;
    padding: 5px;
}
.mobileMenu p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 20px 0;
}

.mobileMenu p:hover {
    color: ;
}